main {
  text-align: left;
  padding: 50px;
}

main h1, main h2 {
  text-align: left;
}

/** For now - copy SEAP header **/
footer {
  background: #DCF0FD;
  border-top: 2px solid #79BDE9;
}

footer div {
  padding: 0.75em 1.5em;
}

/** ----- FORMS --------------------------------------- **/

label {
  margin: 10px;
}

textarea,
input {
  font-size: 18px;
  margin: 10px;
  padding: 6px;
}

fieldset {
  padding: 0.75em;
}

.radio-list [type="radio"] {
  clip: rect(0px, 0px, 0px, 0px);
  position: absolute;
  left: 0;
}

.radio-list [type="radio"] + span {
  width: 45%;
}

@media (max-width: 500px) {
  .radio-list [type="radio"] + span {
    width: 100%;
  }
}

.debug,
.messages {
  margin: 20px;
  padding: 10px;
}

.messages:empty {
  display: none;
}

.error {
  background: #e39088;
  color: #990000;
  font-weight: 700;
  margin: 0;
  padding: 10px;
}

.debug {
  display: none;
  background: #E9E991;
  font-size: small;
}
