main {
  text-align: left;
  padding: 50px;
}

main h1, main h2 {
  text-align: left;
}

/** For now - copy SEAP header **/
footer {
  background: #DCF0FD;
  border-top: 2px solid #79BDE9;
}

footer div {
  padding: 0.75em 1.5em;
}

/** ----- FORMS --------------------------------------- **/

label {
  margin: 10px 0;
}

fieldset label {
  min-width: 80px;
  display: inline-block;
}

textarea,
input {
  font-size: 18px;
  margin: 10px;
  padding: 6px;
}

fieldset {
  padding: 0.75em;
}

form.upload {
  border: 2px solid #79BDE9;
  padding: 0 8px;
}

.radio-list [type="radio"] {
  clip: rect(0px, 0px, 0px, 0px);
  position: absolute;
  left: 0;
}

.radio-list [type="radio"] + span {
  width: 45%;
}

@media (max-width: 500px) {
  .radio-list [type="radio"] + span {
    width: 100%;
  }
}


/** ----- DEBUG and MESSAGES ---------------------------- **/

.debug,
.messages {
  margin: 40px 20px 20px 20px;
  padding: 10px;
}

.messages:empty {
  display: none;
}

.success,
.error {
  font-weight: 700;
  margin: 0;
  padding: 10px;
}

.success {
  background: #6FE9BF;
}


.error {
  color: #990000;
  background: #E39088;
}

.debug {
  display: none;
  background: #E9E991;
  font-size: small;
}

/** Printable.php styles **/
.hide {
  display: none;
}

.questions {
  border-bottom: 2px dashed #79bde9;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.question-wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.question-wrapper li {
  justify-content: flex-start;
}

.the-answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.the-label {
  margin-top: 0;
}
